* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

/* nav css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 12px 24px;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

.navitems {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navitems a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background-color: #cccccc09;
    border-radius: 11px;
    padding: 6px 8px;
}

.navitems a:hover {
    background-color: #ccc;
    color: #ff3333;
}

.down {
    position: relative;
}

.downmenu {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background-color: #2a2a2a;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
}

.down:hover .downmenu {
    opacity: 1;
    visibility: visible;
    background-color: #ffffff;
}

.downmenu a {
    display: block;
    color: #000000;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
}

.downmenu a:hover {
    background-color: #444444;
    color: #ff3333;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user a {
    background-color: #ccc;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 12px;
}

.user a:hover {
    background-color: #3d3d3d;
    color: #ff3333;
}
/* laptop css */
.product-container {
    display: flex;
    max-width: 1200px;
    margin: 40px 40px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.product-image {
    width: 550px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #f0f0f0;
}

.product-image img.laptop-image {
    max-width: 90%; 
    height: auto;
    transition: transform 0.3s ease;
}
.buy-now {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 200px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.buy-now:hover {
    background-color: #002c3e;
}

.laptop-details {
    width: 60%;
    padding: 25px;
}

.laptop-info {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.laptop-price {
    font-size: 28px;
    color: #3498db;
    margin-bottom: 25px;
    font-weight: bold;
}

.laptop-name {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 15px 0;
    color: #000;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.specs-container {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 12px;
    margin-top: 15px;
}

.specs-name {
    font-weight: bold;
}
.specs {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    line-height: 1.4;    
}

 /* Product Description CSS  */

.product-description {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-description h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.product-description p {
    font-size: 1em;
    margin: 5px 0;
    color: #555;
}

.product-description p strong {
    color: #333;
    font-weight: 600;
}
/* footer css */

.foot {
    padding: 40px 20px;
    border-top: 2px solid #fff;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.foot h1 {
    font-size: 50px;
}

.footer-links {
    display: flex;
    gap: 40px;
    padding: 0;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
    color: #fff;
    font-size: 18px;
}

.footer-links a:hover {
    color: #000000;
    color: red;
}

.me p,.me h3 {
    font-size: 18px;
    color: #fff;
}

.foot h2 {
    font-size: 20px;
    color: #fff;
}
.phowtos img{
    width: 300px;
    height: auto;
}

